.header {
  border: 1px solid#e7e7e7;
  background-color:#f3f3f3;
  margin-bottom: 5px;
  height: 50px;
}

.vl {
  float: left;
  border-left: 44px solid black;
  height: 50px;
}

#title {
  font-family: 'Roboto Slab';
  margin-left: 10px;
  display: inline
}

.title_container {
  width: 250px;
  margin-top: 15px;
  height: 50px;
}

.satellite_filter {
  position: static;
  left: 130px;
}

.container {
  width: 1700px;
  height: 600px;
}
.map_area { 
  float: left;
  width: 500px;
  height: 320px;
  border: 2px solid gray;
}
  
.parallel_area { 
  float: left;
  margin-left: 10px;
  width: 815px;
  height: 320px;
  border: 2px solid gray;
}

.scatterplot_area {
  padding-top: 10px;
  float: left;
  width: 500px;
  height: 320px;
  border: 2px solid gray;
}

.box_area {
  margin-left: 10px;
  padding-top: 0px;
  padding-left: 5px;
  float: left;
  width: 150px;
  height: 320px;
  border: 2px solid gray;
  align-content: center;
}

.pie_area {
  margin-left: 10px;
  padding-top: 10px;
  float: left;
  width: 485px;
  height: 320px;
  border: 2px solid gray;
}

.histo_area {
  padding-top: 0px;
  margin-left: 10px;
  float: left;
  width: 485px;
  height: 330px;
  border: 2px solid gray;
}

.subcontainer2 {
  margin-top: 10px;
  float: left;
}

.button_histo_area{
  float: right;
  margin-right: 4px;
  margin-top: 4px;
}

.button_box{
  font-size: 13px
}

.button_box_area{
  float: right;
  margin-right: 4px;
  margin-top: 4px;
}

body {
  min-width: 760px;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.text_area { 
  background-color: gray;
}

.legend text{
  font-size: 13px;
  fill: #333;   
}

.label_scatter {
  font-size: 13px;
  fill: #333;  
}

.label_boxplot {
  font-size: 13px;
  fill: #333;
}
		
.selected {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}

.pie_label{
  font-size: 10px;
}

.text_bar{
  font-size: 8px;
}