
.container {
  width: 1750px;
  height: 800px;
}
.map_area { 
  float: left;
  width: 600px;
  height: 400px;
  }
  
  .parallel_area { 
    float: left;
    margin-left: 20px;
    width: 900px;
    height: 400px;
  }

  .scatterplot_area {
    margin-top: 10px;
    float: left;
    width: 600px;
    height: 400px;
  }

  .box_area {
    margin-left: 13px;
    margin-top: 10px;
    float: left;
    width: 150px;
    height: 400px;
  }

  .pie_area {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width: 400px;
    height: 400px;
  }

  .histo_area {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width: 500px;
    height: 400px;
  }

  .subcontainer2 {
    margin-top: 10px;
    float: left;
  }
body {
  min-width: 760px;
}

.background path {
fill: none;
stroke: #ddd;
shape-rendering: crispEdges;
}

.foreground path {
fill: none;
}

.brush .extent {
fill-opacity: .3;
stroke: #fff;
shape-rendering: crispEdges;
}

.legend text{
    font-size: 13px;
    fill: #333;
    
}

.label_scatter {
    font-size: 13px;
    fill: #333;
    
}

.label_boxplot {
    font-size: 13px;
    fill: #333;
    
}
		
.selected {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}
