body {
}

.background path {
fill: none;
stroke: rgb(205, 210, 220);
shape-rendering: crispEdges;
}

.foreground path {
fill: none;
stroke: rgb(5, 142, 255);
}

.brush .extent {
fill-opacity: .3;
stroke: #fff;
shape-rendering: crispEdges;
}

.grid-container {
position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.8fr 1.2fr 1.3fr;
  grid-template-rows: 0.2fr 1.4fr 1.4fr;
  grid-template-areas: "header_area header_area header_area header_area header_area" "map_area map_area parallel_area parallel_area parallel_area" "scatterplot_area scatterplot_area box_area pie_area histo_area";
}

.header_area { 
background-color: #000000;
grid-area: header_area;}

.map_area { 
grid-area: map_area;
background-color: red; }

.parallel_area { 
    grid-area: parallel_area ;
}

body {
  min-width: 760px;
}

.background path {
fill: none;
stroke: #ddd;
shape-rendering: crispEdges;
}

.foreground path {
fill: none;
stroke: steelblue;
}

.brush .extent {
fill-opacity: .3;
stroke: #fff;
shape-rendering: crispEdges;
}

.histo_area { 
    grid-area: histo_area;
    height: 100%;
    background-color: yellow; }

.box_area {
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "box1 box1 box1" "box2 box2 box2" "box3 box3 box3";
  grid-area: box_area;
  background-color: brown;
  height: 100%;
}

.box1 { grid-area: box1; }

.box2 { grid-area: box2; }

.box3 { grid-area: box3; }

.pie_area { grid-area: pie_area;
height: 100%;
background-color: blue; }

.scatterplot_area { grid-area: scatterplot_area;
height: 100%;
background-color: orange; }

.text_area { grid-area: text_area;
background-color: gray;}
